$blue: #002c77;
$darkBlue: #00163c;
$darkGray: #59595C;
$gray: #f4f4f4;
$grayBlue: #6884a5;
$lightBlue: #157ab1;
$orange: #df6800;
$red: #DC3023;
$shadow: 0 2px 5px rgba(0, 0, 0, .2);
$white: #fff;
$yellow: #fdba12;